﻿@model IEnumerable<SailingSiteModels.New.Comment>
@using SailingSite.Common
<table id="CommentTable">
 @foreach (var comment in Model)
 { 
    <tr>
        <td>
            <table>
                <tr>
                    <td class="commentheader">@comment.CreatedBy <label> on </label>@Html.ActionLink(@comment.Created.ToString(),"Get","Comment", new{id=comment.ID})</td>
                </tr>
            </table>

        </td>
        <td>
            @comment.Message.Chop(250)
        </td>
    </tr>
 }

</table>
