﻿@model IEnumerable<SailingSiteModels.New.AnimalCategory>
@{
    ViewBag.Title = "GetAllCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>GetAllCategories</h2>
<table>
    <tr>
        <td class="label">Category Name</td>
        </tr>
        @{foreach (var i in Model)
          {
              <tr> 
            <td>@Html.ActionLink(i.Name, "GetCategory", "Animal", new { name=i.Name}, null)</td>
                  </tr>  
        }    
          }
    
</table>
