﻿<html>
<head>
    
    <script type="text/javascript" charset="utf8" src="~/bundles/jquery.dataTables-1.10.7.min.js"></script>
    <link href="~/bundles/jquery.dataTables-1.10.7.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/bundles/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div id="accordion">
        <h3>Test1</h3>
        <div>
            Our first test!
        </div>
        <h3>Test2</h3>
        <div>
            Our second test!!

        </div>
    </div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Due</th>
                <th>Web Site</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Smith</td>
                <td>John</td>
                <td>jsmith@gmail.com</td>
                <td>$50.00</td>
                <td>http://www.jsmith.com</td>
            </tr>
            <tr>
                <td>Bach</td>
                <td>Frank</td>
                <td>fbach@yahoo.com</td>
                <td>$50.00</td>
                <td>http://www.frank.com</td>
            </tr>
            <tr>
                <td>Doe</td>
                <td>Jason</td>
                <td>jdoe@hotmail.com</td>
                <td>$100.00</td>
                <td>http://www.jdoe.com</td>
            </tr>
            <tr>
                <td>Conway</td>
                <td>Tim</td>
                <td>tconway@earthlink.net</td>
                <td>$50.00</td>
                <td>http://www.timconway.com</td>
            </tr>
        </tbody>
    </table>
    <fieldset class="majorpoints">
        <legend class="majorpointslegends"><label class="icon">[+]</label>Expand</legend>
        <div class="hiders" style="display:none">This is the content that was hidden before, but now is... Well, visible!"</div></fieldset>
    <fieldset class="majorpoints">
        <legend class="majorpointslegends">Expand<label class="icon">[+]</label></legend>
        <div class="hiders" style="display:none">This is the content that was hidden before, but now is... Well, visible!"</div>
    </fieldset>
    <fieldset class="majorpoints">
        <legend class="majorpointslegends">Expand<label class="icon">[+]</label></legend>
        <div class="hiders" style="display:none">This is the content that was hidden before, but now is... Well, visible!"</div>
    </fieldset>
           
</body>
</html>   

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
        
        $("#accordion").accordion({
            collapsible: true
        });

        $('.majorpoints').click(function () {
            $(this).find('.hiders').toggle();
            var i = $(this).find('.icon').text();
            if (i.toString().indexOf('+') > 0) {
                $(this).find('.icon').text('[-]');
            }
            else {
                $(this).find('.icon').text('[+]');
            }

        });
        
    });

</script>