﻿@model SailingSiteModels.New.VesselEntry
@{
    string dateIdentifier = String.Format("{0}datepicker", Guid.NewGuid().ToString());
}

<form class="vesselEntry">
    @Html.HiddenFor(i => i.ID)

    
    @Html.HiddenFor(i => i.FleetID)
    <div class="col-sm-5">
        <b>Vessel:</b>@Html.Partial("_VesselDD")
    </div>
    <div class="col-sm-4">
        <b>Date Added:</b>@Html.TextBoxFor(i => i.DateAdded, new { id = dateIdentifier })<br />
    </div>
    <div class="col-sm-3">
        <b>Rank</b>@Html.TextBoxFor(i => i.Ordinal)
        <input type="button" class="vesselEntryAdd" value="Add/Update" />
        @if (Model.ID > 0 && Model.Vessel != null)
        {
            <a href="#" data-fleetid="@Model.ID" data-vesselid="@Model.Vessel.ID" class="vesselEntryDeleter"><i class="fa fa-trash-o fa-2"></i></a>
        }
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#@dateIdentifier').datepicker();
        $('.vesselEntryAdd').off('click').on('click', submitVesselEntry);
        $('.vesselEntryDeleter').off('click').on('click', deleteVesselEntry);
    });
</script>
