﻿@using System.Collections
@model IEnumerable<SailingSiteModels.Common.INewsFeedable>
@{ int count = 0; }
    @if (Model != null && Model.Any())
    {
        foreach (var feedItem in Model.OrderBy(i => i.Order))
        {
            if (count == 10)
            {
                break;
            }
            @Html.Partial("_NewsFeed", feedItem)
            count++;
        }
    }
    else
    {
        <b>It appears that's the end of your feed.</b>
    }