﻿@using SailingSite.Common
@using SailingSiteModels.New
@model IEnumerable<SailingSiteModels.New.SecurityQuestion>
@{
    var validUser = Session[StaticTokens.CachingTokens.UserSessionResources] is CrewSecurity;
    // Append NEW questions if the user is valid.
}

<!DOCTYPE html>
    @if (validUser)
    {
        <h3>Security Settings</h3>
        <div id="questionDiv">
            Here you may create security questions that will help you regain access to your account if you ever forget your password. You may change, delete, or add new questions below. You may have as many questions as you like, but will ever only have to answer three questions. We suggest making them things only <b>YOU</b> would know.  Questions pertaining to your last name, address, or any other easy-to-find questions are not reccomended.
            @foreach (var question in Model)
            {
                @Html.Partial("_QuestionPartial", question);
            }

        </div>
        <input type="button" value="Add Question" id="addQuestionBtn" />
    }
    else
    {
        <b>You are not currently logged in. You can't manage settings on an account you are not logged into!</b>
    }
<script type="text/javascript">
    $(document).ready(function() {
        $('#addQuestionBtn').off('click').on('click', addQuestion);
    });

    function addQuestion() {
        var urlPointer = '/Crew/NewQuestion';
        $.ajax({
            url: urlPointer,
            error: function (data) {
                toastr.error('Avast!', data);
            },
            success: function (data) {
                $('#questionDiv').append(data);
            }

        });
    }

    function submitSecQuestion() {
        var form = $(this).closest('form');
        var formData = new FormData(form[0]);
        var urlPointer = '/Crew/UpdateQuestion';
        $.ajax({
            url: urlPointer,
            data: formData,
            type: "POST",
            processData: false,
            contentType: false,
            error: function (data) {
                toastr.error('Avast!',data);
            },
            success: function (data) {
                toastr.success('Ahoy!','Question updated.');
            }

        });
    }
    function toggleUpdateButton() {
        var form = $(this).closest('form');
        if (determineFormValidity(form)) {

            if (!$(form).hasClass("class-name")) {
                form.addClass('valid');
            }
        }

    }

    function determineFormValidity(form) {
        var questionTb = $(form).find('.securityQuestion');
        var answerTb = $(form).find('.secAnswer');
        if (answerTb != undefined && questionTb != undefined) {
            var answer = $(answerTb).val();
            var question = $(questionTb).val();
            if (answer != undefined && question != undefined) {
                if (question.length > 7 && question.length < 255 && answer.length > 7 & answer.length < 255) {
                    return true;
                }
            }
        }
        return false;
    }

</script>

