﻿@using SailingSite.App_GlobalResources
@model SailingSiteModels.New.Crew
@{
    ViewData["controller"] = "crew";
    ViewData["entityID"] = Model.ID;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
</head>
<body>
    <div>
        <h1>@Model.FullName</h1>

        <h2>Core Stats</h2>
        <ul>
            <li>
                <b>@SharedStrings.HourCountLabel:</b> @Model.HourCount
            </li>
            <li>
                <b> @SharedStrings.MileCountLabel:</b> @Model.MileCount
            </li>
            <li>
                <b>@SharedStrings.SailCountLabel:</b> @Model.SailCount
            </li>
        </ul>
        @Html.Partial("Graphs/ISailableChart",Model)
        <div id="accordion">
            @if (Model.Sails!=null&&Model.Sails.Any())
            { 
            <h3>@SharedStrings.SailHistoryLabel @Model.Sails.Count().ToString()) </h3>
            <div>
                @Html.Partial(Resources.ActionVerbs.SailBaseTablePartial,Model.Sails)
            </div>
            }
            @if (Model.SailStats.LongestSail!=null)
            {
                <h3>@SharedStrings.LongestSail </h3>
                <div>
                    @Html.Partial(Resources.ActionVerbs.SailBaseTablePartial, Model.SailStats.LongestSail)
                </div>
            }
            @if (Model.SailStats.WildestRide!=null)
            {
                <h3>@SharedStrings.WildestSailLabel </h3>
                <div>
                    @Html.Partial(Resources.ActionVerbs.SailBaseTablePartial, Model.SailStats.WildestRide)
                </div>
            }
            <h3>@SharedStrings.TagLabel</h3>
            <div>
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    <div>@Html.Partial(Resources.ActionVerbs.TagPartial, Model.Tags)</div> 
                }
                <b>@SharedStrings.TagAddLabel</b>
                <br />
                @Html.Partial(Resources.ActionVerbs.TagAddPartial)
                <input type="button" value="Add" id="tagAddButt" />
            </div>
            @if (Model.Comments != null && Model.Comments.Any())
            { 
                <h3>@SharedStrings.CommentsByLabel</h3>
                <div>
                    @Html.Partial("_CommentList",Model.Comments)
                </div>
            }
    </div>
    </div>
</body>
</html>
<script type="text/javascript">
    //RIG BUTTON FOR TAGING
    $(document).ready(function() {
        $('#chartSelector').off('change').on('change', flipChart);
    });
    function getLegend(input) {
        renderChartIds(input.value);
    }

    function renderChartIds(input) {

        if (input.indexOf == undefined) {
            input = input.value;
        }
        var indexofStr = parseInt(input.indexOf("#"));

        if (indexofStr == NaN) {
            return;
        }
        indexofStr += 1;
        var id = input.substring(indexofStr, input.length);
        var date = input.replace('#' + id, '');
        var htmlVal = '<a href="/Sail/Get/' + id + '">' + date + '</a>';
        return htmlVal;
    }

    function renderCrewIds(input) {

        if (input.indexOf == undefined) {
            input = input.value;
        }
        var indexofStr = parseInt(input.indexOf("#"));

        if (indexofStr == NaN) {
            return;
        }
        indexofStr += 1;
        var id = input.substring(indexofStr, input.length);
        var name = input.replace('cid#' + id, '');
        var htmlVal = '<a href="/Crew/Get/' + id + '">' + name + '</a>';
        return htmlVal;
    }

    function flipChart() {
        var container = $('.chartContainer');
        var selected = $(this).find('option:selected');
        var chartDivs = container.find('div.chartDiv');
        chartDivs.removeClass('selected');
        var target = selected.attr('data-target');
        var selector = '#' + target;
        $(selector).addClass('selected');
    }
</script>