﻿@using SailingSite.App_GlobalResources
@model SailingSiteModels.New.Crew
@{

    AjaxOptions options = new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure"
    };
    
    
    var updateString = Model.ID == 0 ? SharedStrings.AddNewEntity : SharedStrings.UpdateEntity;

    ViewData["controller"] = "crew";
    ViewData["entityID"] = Model.ID;
}

>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>@SharedStrings.CreateCrewTitle</h2>
@using (Html.BeginForm("create", "crew", FormMethod.Post, new { enctype = "multipart/form-data", id="createForm"  })) { 
    @Html.HiddenFor(m=>m.ID)
    <table>
        <tr>
            <td><b>@SharedStrings.FirstName</b><br />@Html.EditorFor(m=>m.FirstName)
            </td>
            <td>
                <b>@SharedStrings.LastName</b><br />@Html.EditorFor(m=>m.LastName)
            </td>
        </tr>
        <tr>
            <td>
                <b>
               @SharedStrings.EmailAddress</b>
                <br />
                @Html.TextBoxFor(m=>m.EmailAddress)
               
            </td>
            <td>
                <b>@SharedStrings.SIDLabel</b><br />
                <select id="SID" name="SID">
                    @{
                    var count = 0;
                    }
                    @foreach (var val in Enum.GetValues(typeof(SailingSiteModels.New.Crew.SIDEnum)))
                    {
                        string selected = string.Empty;
                        if ((count == 0 && Model.SID == null) || val.ToString() == Model.SID.ToString())
                        {
                            selected = " selected='selected' ";
                        }
                        var name = Enum.GetName(typeof(SailingSiteModels.New.Crew.SIDEnum), val);
                        <option value="@val" @selected>@name</option>
                        count++;
                    }
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <b>@SharedStrings.Username</b><br />@Html.TextBoxFor(m => m.UserName)
            </td>
            <td>
                <b>@SharedStrings.Password
                </b>
                <br />@Html.TextBoxFor(m => m.Password, new { onClick = "OnPasswordClick()" })
                
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.Partial("_PhotoProfile", Model.ProfilePhoto.ToPhoto())*@
            </td>
        </tr>
    </table>
            <div id="tagdiv" class="ui-widget">
            @Html.Partial("TagListv3", Model)

        </div>

    <input type="button" class="right formButton" value=@updateString /> <br />
    @Html.ValidationSummary()
}
        @Html.ActionLink("Security Questions", "LoadQuestions", "Crew")
    </div>
</body>
</html>
<script type="text/javascript">
 
    $(document).ready(function () {
        var form = $("#createForm");
        $("#accordion").accordion();
        $.validator.unobtrusive.parse(form);
        $(".formButton").off("click").on("click", function () {
            form.validate();
            var valid=form.valid();
            if (valid == true) {

                VerifyUsername();
            } else {
                toastr.error('Alert', 'The form is not valid.');
            }
        });

    });

    function OnPasswordClick() {
        var initialPassword = $("#Password").val();
        if ($("#Password").val() == initialPassword) {
            $("#Password").val("");
        }

    }

    function VerifyUsername()
    {
        var val = $("#UserName").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("VerifyUserName", "Crew")",
            data: { "userName": val},
            success: function (data, response, request) {
                var form = $("#createForm");
                form.submit();
            },

            error: function () {
                toastr.error("@SharedStrings.UserNameTaken", "@SharedStrings.ErrorLabel");
                return false;
            }
        });
    }

    function OnSuccess()
    {
        toastr.success("Crew created");
    }
    function OnError(object, status, error)
    {
        toastr.error(error, "An error occured");
    }

</script>