﻿@model Dictionary<int, string>
    @{
    }

    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div class="container">
            <div id="mainPwBody" class="col-lg-12">

                @if (Model == null || !Model.Any() || Model.FirstOrDefault().Value == null)
                {
                    <span class="error">Your answers were incorrect.  Press your browser's Back button to try again.</span>
                }

                else
                {
                    <input type="hidden" id="pwId" value="@Model.FirstOrDefault().Key" />
                    <input type="hidden" id="pwToken" value="@Model.FirstOrDefault().Value" />
                    <b>
                        Please enter a new password:
                    </b><input type="password" id="firstPassword" /><br />
                    <b>Please verify your password:</b><input type="password" id="secondPassword" /><br />
                    <input type="button" value="Reset Password" id="passwordUpdate" />
                }
            </div>
            <div id="pwSuccess">
                <h1>Your password was changed successfully. Please login above.</h1>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        $('#passwordUpdate').off('click').on('click', UpdatePassword);
        $('#pwSuccess').hide();
    });

    function UpdatePassword() {
        var password1 = $('#firstPassword').val();
        var password2 = $('#secondPassword').val();
        if (password1 != password2) {
            toastr.error('Please verify passwords not match.');
            return;
        }


        $.ajax({
            url: "/Crew/CheckPassword/",
            data: { "password": password1 },
            dataType: "html",
            failure: "formError",
            success: function() {
                postPassword();
            },
            error: function(data) {
                toastr.error(data);
            }
        });
    }

    function postPassword() {
        var password1 = $('#firstPassword').val();
        var token = $('#pwToken').val();
        var id = $('#pwId').val();
        $.ajax({
            url: "/Crew/UpdatePassword/",
            data: { "password": password1, "token":token,"id":id},
            dataType: "html",
            failure: "formError",
            success: function () {
                $('#mainPwBody').hide();
                $('#pwSuccess').show();
            },
            error: function (data) {
                toastr.error(data);
            }
        });
    }
</script>