﻿@model IEnumerable<SailingSiteModels.New.SecurityQuestion>

<div>
    @if (Model != null && Model.Any())
    {
        @Html.BeginForm("PostAnswers", "Crew", FormMethod.Post)
        {
            
            <input type="hidden" name="id" value="@Model.FirstOrDefault().CrewID" />
            var count = 0;

            <div class="col-sm-12"><br />
<p></p>
                <b>Please answer the questions below to regain access to your account.</b>
                @foreach (var question in Model)
                {
                    <div class="col-sm-12">
                        
                        <b>@(count + 1):@question.Question</b>
                        <textarea name="data[@count].Answer"></textarea><br/>
                    </div>
                    <input type="hidden" name="data[@count].ID" value="@question.ID"/>
                    count++;
                }
            </div>
    <div class="col-sm-12">
        <input type="submit" value="Submit Answers" /></div>
        }
        }
        else
        {
        }
    </div>

