﻿@model IEnumerable<SailingSiteModels.New.SecurityQuestion>

    <div>
    @if (Model != null && Model.Any())
    {
        @Html.BeginForm("PostAnswers","Crew",FormMethod.Post)
        {
            <input type="hidden" name="id" value="@Model.FirstOrDefault().CrewID"/>
            var count = 0;
            foreach (var question in Model)
            {
                <div class="col-sm-6"><b>@(count + 1):@question.Question</b>
                </div>
                <div class="col-sm-6"><textarea name="data[@count].Answer"></textarea>
                </div>
                <input type="hidden" name="data[@count].ID" value="@question.ID"/>
                count++;
            }
            <input type="submit" value="Submit Answers"/>
        }
    }
    else
    {
    }
    </div>
