﻿@using SailingSiteModels.New
@model SailingSiteModels.Common.ILocation
@{
    Location location = null;
    if (Model != null)
    {
        location = Model as Location;
    }
}
@if (Model!=null)
{
<h2>@Model.Name</h2>
if (location != null && !string.IsNullOrWhiteSpace(location.MinorLocation)&&!string.IsNullOrWhiteSpace(location.MinorLocation))
{
    <b>@location.MinorLocation,@location.MajorLocation</b>
}
    if (Model.Longitude != null && Model.Latitude != null)
    {
        @Html.Partial("Maps/StaticLocation", Model)
    }
    {
        <b>No GPS Coordinates Found.</b>
    }
}
else
{
    <b>No data found for this location.</b>
}