﻿@using SailingSite.Common.Extension
@using SailingSite.Models
@model IEnumerable<SailingSiteModels.New.SailBase>
@{
    int width = 600;
    int height = 400;
    int count = 0;
    var list = new List<YearStats>();
    
           }
@{
    var thisTimeLastYear = DateTime.Now.AddYears(-1);
    var lastYearQuery = Model.Where(i => i.Created >= thisTimeLastYear).OrderBy(i=>i.Created);
    var key = new Chart(width: width, height: height).AddTitle(string.Format("Sails Logged since {0}", thisTimeLastYear.ToFeedString())).AddSeries("Sails", xValue: lastYearQuery, xField: "Created", yValues: lastYearQuery, yFields: "MilesSailed").Write();
    
}

@{
    var currentYear = DateTime.Now.Year;
    var yearQuery = Model.Where(i => i.Created.Year == currentYear).OrderBy(i => i.Created);
    var key2 = new Chart(width: width, height: height).AddTitle(string.Format("Sails Logged in {0}", currentYear)).AddSeries("Sails", xValue: yearQuery, xField: "Created", yValues: yearQuery, yFields: "MilesSailed").Write();
    <b>Count:@yearQuery.Count()</b>
    list.Add(new YearStats() { Year=currentYear, SailCount = yearQuery.Count(),AvgMiles=yearQuery.Average(i=>i.MilesSailed),AvgWind =yearQuery.Average(i=>i.MaxWind),MilesSailed = yearQuery.Sum(i=>i.MilesSailed)});
}

@{
    do
    {
        var pastYear = DateTime.Now.AddYears(-1).Year;
        yearQuery = Model.Where(i => i.Created.Year == pastYear).OrderBy(i => i.Created);
        count = yearQuery.Count();
        if (yearQuery.Count() > 0)
        {
            var key3 = new Chart(width: width, height: height).AddTitle(string.Format("Sails Logged in {0}", pastYear)).AddSeries("Sails", xValue: yearQuery, xField: "Created", yValues: yearQuery, yFields: "MilesSailed").Write();
            <b>Count:@yearQuery.Count()</b>
            list.Add(new YearStats() { Year = currentYear, SailCount = yearQuery.Count(), AvgMiles = yearQuery.Average(i => i.MilesSailed), AvgWind = yearQuery.Average(i => i.MaxWind), MilesSailed = yearQuery.Sum(i => i.MilesSailed) });

        }

    }
    while (count > 0);

}
@{
    var key5 = new Chart(width: width, height: height).AddTitle(string.Format("Sailing History {0}-{1}", list.Min(i => i.Year), list.Max(i => i.Year))).AddSeries("SailCount", xValue: yearQuery, xField: "Year", yValues: yearQuery, yFields: "SailCount");
    key5.AddSeries("Miles Sailed", xValue: yearQuery, xField: "Year", yValues: yearQuery, yFields: "MilesSailed");

}

