﻿@using SailingSite.App_GlobalResources
@using System.Data.Entity
@model SailingSiteModels.New.LandMarkBase
           @using (Html.BeginForm("createLandmark", "location", FormMethod.Post, new { enctype = "multipart/form-data" }))
           {               <div class="well-sm">
            <h3>@SharedStrings.NewLandMarkHeader</h3>
        </div>
               <div class="col-sm-6">
                   <b>@SharedStrings.Name</b>
                   @Html.TextBoxFor(i => i.Name)<br/>
                   <b>@SharedStrings.DescriptionGeneral</b>
                   @Html.TextBoxFor(i => i.Description)<br/>
               </div>

    <div class="col-sm-6">
        <b>Please choose a Location on the Map:</b>
        @Html.Partial("Maps/Geolocator")
        <input type="text" readonly="readonly" name="Latitude" id="locLatitude" />
        <input type="text" readonly="readonly" name="Longitude" id="locLongitude" />
        @Html.ValidationMessageFor(i => i.Longitude)<br />


    </div>
    <input type="submit" value="Submit" />
           }

<script type="text/javascript">
    function setCoords(lat, long) {
        $('#locLatitude').val(lat);
        $('#locLongitude').val(long);
    }
</script>