﻿@using System.Web.Mvc.Html
@using SailingSite.App_GlobalResources
@using SailingSite.Common
@using SailingSiteModels.New
@model SailingSite.Models.MergedLocationIndex
@{
    var user = Session[StaticTokens.CachingTokens.UserSessionResources] as CrewSecurity;
    bool powerUser = (user != null && user.SID >= Crew.SIDEnum.PowerUser);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <div class="well-sm">
        <h3>@SharedStrings.LocationAndLandMarkHeader</h3></div>
    <div class="col-sm-12">
        <div id="locationTabs">
            <ul>
                <li><a href="#t_location">Locations</a></li>
                <li><a href="#t_landmarks">Landmarks</a></li>
            </ul>
            <div id="t_location">
                <div id="locationDiv">
                    @Html.Partial("_LocationSearch", Model.Locations)
                </div>
                @if (powerUser)
                {
                    <a href="@Url.Action("New", "Location")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                }
            </div>
            <div id="t_landmarks">
                <div id="landMarkDiv">
                    @Html.Partial("_LandmarkSearch", Model.LandMarks)
                </div>
                @if (powerUser)
                {
                    <a href="@Url.Action("NewLandMark", "Location")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            $("#locationTabs").tabs();
        });
    });
</script>