﻿@using System.Collections
@using SailingSite.App_GlobalResources
@using SailingSite.Common
@using SailingSiteModels.Common
@using SailingSiteModels.New
@using SailingSiteModels.New.Debug
@model SailingSiteModels.New.Sail
@{
    if (Model.Weather == null)
    {
        Model.Weather = new List<WeatherBase>();
    }
    IEnumerable<WeatherBase> weather = null;
    if (Session[Resources.SessionVariables.WeatherSessionVariable] != null)
    {
        weather = Session[Resources.SessionVariables.WeatherSessionVariable] as IEnumerable<WeatherBase>;
    }
    var options = new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "photodiv",
        OnFailure = "generalFailure(error)",
        OnSuccess = "photoSuccess"
    };
    IEnumerable<SailingSiteModels.New.VesselFoundation> vessels = null;
    ViewData["entityID"] = Model.ID;
    ViewData["controller"] = Model.ControllerName;
    if (Model != null && Model.Vessel != null&&Model.Vessel.SailLocker!=null)
    {
        ViewData[StaticTokens.CachingTokens.SheetSailLocker] = Model.Vessel.SailLocker;
    }
    var photobases = Model.Photos == null ? new PhotoBase[0] : Model.Photos;
    Comment newComment=new Comment();
    newComment.TargetController = Model.ControllerName;
    newComment.Created = Model.Date;
    newComment.IsLog = true;
    newComment.LogId = Model.ID;
    var logs = new CommentBase[0];
    var dateAttr = Model.Date > DateTime.MinValue ? string.Format(" value=\"{0}\" ", Model.Date) : string.Empty;
    IEnumerable<SheetSailLog> sheetSails = (Model != null && Model.SheetSailLogs != null) ? Model.SheetSailLogs : new List<SheetSailLog>();
    if (Model.Logbook!=null&&Model.Logbook.Any())
    {
        logs = Model.Logbook.ToArray();
    }
    var checkSetting = string.Empty;
    if (Session[StaticTokens.SessionTokens.DoLogAnotherSail] != null)
    {
        // if we have a value, check the box to pass it through to the controller.
        checkSetting = "checked";
        Session.Remove(StaticTokens.SessionTokens.DoLogAnotherSail);
    }

    var lowWindFlag = Model.MinWind == null ? string.Empty : Model.MinWind.ToWindColorClass();
    var highWindFlag = Model.MaxWind == null ? string.Empty : Model.MaxWind.ToWindColorClass();
}
<!DOCTYPE html>

<html>
<head>

    @Scripts.Render("~/bundles/timeControls")
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>
<body>
@using (Html.BeginForm("create", "Sail", FormMethod.Post, new { enctype = "multipart/form-data", id = "createForm" }))
{
    <br/>
    <input type="button" class="sailSubmit" value="Log Sail"/>
    <input type="checkbox" name="doLogAnother" value="true" @checkSetting/>
    <b>Log Another Sail.</b>
    <div>
        <div class="container">
            <input type="hidden" name="IsTest" value="false"/>
            <input type="hidden" name="ID" ID="sailID" value="@Model.ID"/>
            @if (Model.CreatedBy != null)
            {
                <input type="hidden" name="CreatedBy.ID" value="@Model.CreatedBy.ID"/>
            }
            <div class="row">
                <div class="well well-sm">
                    <h2>@SharedStrings.SailCoreStatisticsLabel</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>@SharedStrings.SailLogLabel</b>
                    @Html.Partial("_VesselDD", Model)
                    <br/>
                    <b>@SharedStrings.SailLocation</b>
                    @Html.Partial("_LocationDD", Model)<br/>
                    @SharedStrings.SailDateLabel
                    <input id="sailDate" name="Date" type="text" class="datepicker" value="@Model.Date" @dateAttr/>
                </div>
                <div class="col-sm-6">
                    <p class="coreStat"> <label> @SharedStrings.SailHoursSailed</label>@Html.TextBoxFor(i => i.HoursSailed) @Html.ValidationMessageFor(i => i.HoursSailed)</p>
                   
                    <p class="coreStat"> <label>@SharedStrings.SailMilesSailedLabel</label>@Html.TextBoxFor(i => i.MilesSailed) @Html.ValidationMessageFor(i=>i.MilesSailed)</p>
                    <p class="coreStat"><label>
    @SharedStrings.SailHoursMotored
</label>@Html.TextBoxFor(i => i.HoursMotored)@Html.ValidationMessageFor(i => i.HoursMotored)
                    </p>
    <p class="coreStat"> <label>
    @SharedStrings.SailMilesMotoredLabel
</label>@Html.TextBoxFor(i => i.MilesMotored)@Html.ValidationMessageFor(i => i.MilesMotored)</p> 
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well well-sm">
                        <h2>@SharedStrings.SailWeatherConditionsLabel</h2>
                    </div>
                    <p id="minwindp">
                        <span id="minflag" class="@lowWindFlag"><i class="fa fa-flag fa-2"></i></span>@SharedStrings.SailMinWindLabel@Html.TextBoxFor(i => i.MinWind, new { id = "MinWind", @class = "readingOverride" })<label id="minwinddesc"></label>
                        @Html.ValidationMessageFor(i => i.MinWind)
                    </p>
                    <p id="maxwindp"><span id="maxflag" class="@highWindFlag"><i class="fa fa-flag fa-2"></i></span> @SharedStrings.SailMaxWindLabel@Html.TextBoxFor(i => i.MaxWind, new { id = "MaxWind", @class = "readingOverride" })<label id="maxwinddesc"></label>
                        @Html.ValidationMessageFor(i => i.MaxWind)</p>
                    <p><span>@SharedStrings.SailLogWindDirectionLabel@Html.TextBoxFor(i => i.WindDirection, new { id = "SailWindDirection", @class = "compassBearing" })</span>@Html.ValidationMessageFor(i => i.WindDirection)<label id="SailWindDirection_namefield" class="cardinalDirectionLabel"></label></p>
                    @SharedStrings.SailLogBarometricPressure@Html.TextBoxFor(i => i.Barometer)@Html.ValidationMessageFor(i => i.Barometer)<br/>
                   <p id="tempSpan"> @SharedStrings.SailTemperatureLabel</p>@Html.TextBoxFor(i => i.TempF, new { id = "SailTemp" })@Html.ValidationMessageFor(i => i.TempF)<br />
                    <p id="seastate">@SharedStrings.SailLogSeaStateLabel@Html.TextBoxFor(i => i.SeaState, new { id = "SailSeaState" })<label id="seastatedesc"></label>@Html.ValidationMessageFor(i => i.SeaState)</p>
                    <p id="seastate">Rain Severity(0-10): @Html.TextBoxFor(i=>i.RainSeverity)</p>
                    @SharedStrings.SailWeatherLabel@Html.Partial("_WeatherCheckList", Model)<br/>

                    <div class="well well-sm">
                        <h2>@SharedStrings.SailCrewLabel</h2>
                    </div>
                    <div class="scrollable">
                        @Html.Partial("_CrewChecklist")
                    </div>

                    <div class="well well-sm">
                        <h2>@SharedStrings.SailObservationHeader</h2>
                    </div>
                    <b>@SharedStrings.AnimalsSpottedLabel</b>
                    <div class="scrollable">@Html.Partial("AnimalCheckList")</div>
                    <b>@SharedStrings.SailVesselsSpotted</b>
                    <div class="scrollable">@Html.Partial("_VesselChecklist")</div>
                    <b>@SharedStrings.SailGeneralObservations</b><br/>
                    <textarea class="general-textbox" name="GeneralObservations">@Model.GeneralObservations</textarea>
                    <div class="well well-sm">
                        @SharedStrings.TagAddLabel
                    </div>
                        @Html.Partial("_TagsBodyAddOnly", Model)
                </div>


                <div class="col-sm-6">
                    <div class="well well-sm">
                        <h2>@SharedStrings.SailLogHeader</h2>
                    </div>
                    <input type="checkbox" class="expando" />@SharedStrings.ViewSailLogLabel
                    <div id="commentsdiv" class="expandee">
                        @Html.Partial("_CommentList", logs)
                    </div>
                    <input type="button" id="addLogButton" value="Add a Log" /><br/><br/>
                    @Html.Partial("_GpsUpload")
                    <b>@SharedStrings.SailPercentHeelLabel</b> @Html.TextBoxFor(i => i.Tilt)@SharedStrings.SailHeelSuffixLabel @Html.ValidationMessageFor(i => i.Tilt)<br />
                    <b> @SharedStrings.SailPercentCenterboardLabel </b>@Html.TextBoxFor(i => i.Centerboard) @Html.ValidationMessageFor(i => i.Centerboard)<br />
                    <b> @SharedStrings.SailConfigurationsLabel</b>
                    <div class="scrollable" id="sailLockerDiv">@Html.Partial("_SheetSaillCheckList", sheetSails)</div>
                    <b>@SharedStrings.SailManeuverLabel</b>
                    <div class="scrollable">@Html.Partial("_ManeuverChecklist", Model)</div>
                    @*<div class="expandee" id="newphotodiv">
                        @Html.Partial("_PhotoNew", new SailingSiteModels.New.Photo())
                    </div><br />
                    <div class="well well-sm">*@
                        @Html.Partial("PhotoControls/AddPhoto",Model)
                        <h2>@SharedStrings.SailHistory</h2>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">


            </div>
        </div>
        <input type="button" class="sailSubmit" value="Log Sail" />
}
    @Html.Partial("_TagLogicAddOnly", Model)
    <div class="modal-sail modal fade modal-lg" id="log-maker">
        <div class="modal-header">
            <h3>Add a Sail Log</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <div id="newCommentsdiv">
                @Html.Partial("_AddComment", newComment)
            </div>
            <input type="button" class="sailSubmit" value="Log Sail"/>
            @Html.ValidationSummary()
        </div>

    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vesselselector').off('change').on('change', loadSheetSail);
        var form = $("#createForm");
        $.validator.unobtrusive.parse(form);
        $('#sailDate').datetimepicker();
        $('#SailTemp').off('change').on('change', function() {
            var value = $(this).val();
            var tspan = $('#tempSpan');
            calculateTemp(value, tspan);
        });
        $('#sailDate').off('dp.change').on('dp.change', function () {
            var date = $('#sailDate').val();
            $('#commentDate').val(date);
        });
        $('#addLogButton').off('click').on('click', function() {
            $('#log-maker').modal('show');
        });
        $('.checkboxSelector').off('changed').on('change', function () {
            var dataName = $(this).attr('data-name');
            var boxSelector = 'input[data-name=\'' + dataName + '\']:checked';
            var checkedBoxes = $(boxSelector);
            if (checkedBoxes) {
                var counter = 0;
                checkedBoxes.each(function () {
                    var name = $(this).attr('name');
                    var oldId = name.match(/\[(.*?)\]/);
                    if (oldId[1]) {
                        name = name.replace(oldId[1], counter);
                        $(this).attr('name', name);

                        //New per 12-17.  Matches anything with matching data (example: a sheetsail with a percentage value.)
                        // Gets the ID of the match, then also updates its name to the collection enumerator. Example: Collection[0].Value 
                        var matchSelectorSuff = $(this).attr('data-match');
                        var defaultVal = $(this).attr('data-match-default');
                        if (matchSelectorSuff != undefined) {
                            var matchSelector = '#' + matchSelectorSuff;

                            var match = $(matchSelector);
                            if (match != undefined) {
                                var matchName = $(match).attr('name');
                                
                                var matchOldId = matchName.match(/\[(.*?)\]/);
                                if (matchOldId[1]) {
                                    matchName = matchName.replace(matchOldId[1], counter);
                                    $(match).attr('name', matchName);
                                }
                                if (defaultVal.length > 0 && match.val()=='') {
                                    match.val(defaultVal);
                                }
                            }
                        }
                        counter++;
                    }
                });
            }

        });
        $('.sailSubmit').off('click').on('click', submitSail);

        $('.expandee').hide();
        $('.expando').off('click').on('click', function () {
            var i=$(this).next('.expandee');
            i.toggle();
        });

        $("#MinWind").off('change').on('change', function() {
            var p = $("#minflag");
            var sp = $("#minwinddesc");
            var value = $(this);
            calculateWind(value.val(), p, sp);
        });

        $("#MaxWind").off('change').on('change', function() {
            var p = $("#maxflag");
            var sp = $("#maxwinddesc");
            var value = $(this);
            calculateWind(value.val(), p, sp);
        });


        $("#SailSeaState").off('change').on('change', function() {
            var sp = $("#seastatedesc");
            var value = $(this);
            calculateSeaStateDesc(value.val(), sp);
        });
        loadFirstSheetSail();
        checkLogin();
    });

    function loadFirstSheetSail() {
        var trigger = $('#sheetSailProcessed');
        if (trigger == undefined || trigger.length==0) {
            var option= $('#vesselselector option:selected');
            if (option == undefined || option.length==0) {
                $('#vesselselector option:first-child').attr("selected", "selected");
            } else {
                loadSheetSail();

            }

                
        }
    }

    function loadSheetSail() {
        var selection = $('#vesselselector').find('option:selected');
        if (selection.length > 0) {
            var id = $(selection).val();
            $.ajax({
                url: "/Sail/GetSheetSailLocker/",
                data: { "id": id },
                dataType: "html",
                failure: "formError",
                success: function (data) {
                    var divSelect = "#sailLockerDiv";
                    var div = $(divSelect);
                    $(div).html(data);
                }
            });
        }
    }


    function submitSail() {
        var form = $('#createForm');
        $.validator.unobtrusive.parse(form);
        var valid = form.valid();
        if (valid == true && validdDateDate()==true) {

            form.submit();
        } else {
            toastr.error('Alert', 'There was a validation error submitting the form.');
        }
    }

    function validdDateDate() {
        var date = $('#sailDate').val();
        if (date.length > 0) {
            var verifiedDate = Date.parse(date);
            if (isNaN(verifiedDate)) {
                toastr.error('Alert', 'Please specify a proper date.');
                return false;
            }
            return true;
        }
        toastr.error('Alert', 'Please specify a proper date.');
        return false;
    }

    function commentsuccess() {
        generalSuccess("The log was posted.");
    }

    function photoSuccess() {
        toastr.success("@SharedStrings.CommentSuccess", "@SharedStrings.SuccessLabel");
        $("#newphotodiv").load('@(Url.Action("NewPhoto","Photo"))');
    }

</script>