﻿@model SailingSiteModels.New.Photo

@{
    string entityId = null;
    string controller = null;
    if (ViewData["controller"] != null)
    {
        controller = ViewData["controller"].ToString();
    }
    if (ViewData["entityID"] != null)
    {
        entityId = ViewData["entityID"].ToString();
    }

    var options = new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "commentsdiv",
        OnFailure = "generalFailure(error)",
        OnSuccess = "photoSuccess"
    };
}

@using (Ajax.BeginForm(controller, Resources.ActionVerbs.AddPhoto, options, new { enctype = "multipart/form-data", id = "createForm" }))
{
    <input type="hidden" name="entityId" value="@entityId"/>
    @Html.HiddenFor(i=>i.ID)
    <b>@Resources.SharedStrings.FileLocation</b>
    <input type="file" name="Path" accept="image/*"/><br/>
    <input type="button" value="@Resources.SharedStrings.ShowAvailableTagButton" onclick="togglePhotoEntities()"/>
    <div id="photoEntities" hidden="hidden">
        @Html.Partial("_LoadZoo", Model)
        @Html.Partial("_LoadCrew", Model)
        @Html.Partial("_LoadVessel", Model)
        @Html.Partial("_LoadManeuver", Model)
        @Html.Partial("_LoadMeteorology", Model)
        @Html.Partial("TagListv3", Model)
    </div>
    <input type="submit" value="Submit Photo"/>
}