﻿@using SailingSite.App_GlobalResources
@using SailingSite.Common
@using SailingSiteModels.New
@model IEnumerable<SailingSiteModels.New.Bearing.LandMarkBearing>
@{
    IEnumerable<LandMarkBase> landmarks = null;
    if (Session[StaticTokens.CachingTokens.LandMarkEnum] != null)
    {
        landmarks = Session[StaticTokens.CachingTokens.LandMarkEnum] as IEnumerable<LandMarkBase>;
    }
    int count = 0;
    var uid = Guid.NewGuid().ToString();
    string ulinstance = string.Format("{0}ul", uid);

    string intialTooltip = landmarks == null || landmarks.Any() ? landmarks.FirstOrDefault().FullDescription() : "Please select an item below";
}
<div>
    <ul id="@ulinstance" class="lifloater">
        @if (Model != null && Model.Any())
        {
            <b>@SharedStrings.LandMarkBearingExisting</b>
            foreach (var bearing in Model)
            {
                if (bearing.Bearing != null && bearing.LandMark != null)
                {
                    string deletereorderinstance = string.Format("deleteReorder{0}", uid);
                    string liinstance = string.Format("{0}li-{1}", uid, count);
                    <li class="fieldlabel" id="@liinstance">
                        <div><input type="hidden" class="landMarkID @deletereorderinstance" datacount="@count" name="LandMarkBearings[@count].LandMark.ID" value="@bearing.LandMark.ID"/><input type="hidden" name="LandMarkBearings[@count].Bearing.CompassReading" value="@bearing.Bearing.CompassReading"/>@bearing.LandMark.Name - <i>@bearing.Bearing.CompassReading@Html.Raw("&deg")</i> <a class="deleter" data-ui="@uid" data-target="@liinstance" href="#"><span class="ui-icon ui-icon-trash"></span> </a>
                        </div></li>
                }
                {
                    count++;
                }
            }

        }

    </ul>
</div><b>@SharedStrings.LandMarkBearingNew</b>
        <table>
            <input type="hidden" id="endLBCount" value="@count" />
            <tr>
                <th>@SharedStrings.LandMarkBearingLandMarkLabel</th>
                <th>@SharedStrings.LandMarkBearingBearingLabel</th>
            </tr>
            <tr>
                @if (landmarks != null)
                {
                    bool first = true;
                    <td>
                        <select id="landMarkSelector" class="tooltipshift" data-parentselector="#landMarkSelector" data-toggle="tooltip" data-placement="top" title="@intialTooltip" data-uid="@uid">
                            @foreach (var landmark in landmarks)
                            {
                                string selected = first ? "selected" : string.Empty;
                                <option value="@landmark.ID" class="tooltipshift" data-parentselector="#landMarkSelector" title="@landmark.FullDescription()" @selected>@landmark.Name</option>
                                first = false;
                            }
                        </select>
                    </td>
                }
                <td>
                    <input type="text" id="landMarkBearingCompass" data-uid="@uid" />
                </td>
            </tr>
        </table>
        <input type="button" id="lbAddbtn" value="Add Bearing" data-uid="@uid" />

        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(document.body).off('click', '.deleter').on('click', '.deleter', deleterAhoy);
                $('#lbAddbtn').off('click').on('click', landMarkBearingAdd);
                $('.tooltipshift').off('change').on('change', toggleSelection);
                // Validates the input to our landmark bearing compass.
                $('#landMarkBearingCompass').off('keypress').on('keypress', validateBearing);
            });

            function toggleSelection() {
                var parent = $($(this).attr('data-parentSelector'));
                if (parent.length > 0) {
                    var childselector = $(this).attr('data-parentSelector') + ' option:selected';
                    var childTitle = $(childselector).attr('title');
                    parent.attr('title', childTitle);
                    parent.tooltip('fixTitle');
                }
            }

            function validateBearing() {
                if ($(this).val() == '') {
                    return;
                }
                var i = parseInt($(this).val());
                if (isNaN(i) || (0 > i || i > 360)) {
                    toastr.error("Please input a valid bearing (0-360.)", "@SharedStrings.ErrorLabel");
                    $(this).val('');
                }
            }

            function deleterAhoy() {
                var selector = $(this).attr('data-target');
                if (selector.length > 0) {
                    selector = '#' + selector;
                    var target = $(selector);
                    if (target.length > 0) {
                        target.remove();
                    }
                    deleteReorder($(this).attr('data-ui'));
                }
            }

            function deleteReorder(ui) {
                if (ui.length > 0) {
                    var selector = '.deleteReorder' + ui;
                    var entities = $(selector);
                    if (entities.length > 0) {
                        entities.sort(function (a, b) { return (a.dataCount > b.dataCount) ? 1 : (b.dataCount > a.dataCount) ? -1 : 0 });
                        var totalCount = 0;
                        var currentCount = -1;
                        var first = true;
                        jQuery.each(entities, function () {
                            var entity = $(this);
                            if (currentCount != entity.attr('dataCount') && first == false) {
                                // If we've got nothing else to iterate over, we increment our count
                                totalCount++;
                            }
                            // We set our current count the the count of the existing item.
                            currentCount = entity.attr('dataCount');
                            // We want to replace our old val...
                            var oldVal = '[' + currentCount + ']';
                            // With our new val.  We are wrapping both in brackets to make sure we aren't making any flukey replacements (example: replacing 1 with 0 causes another entry at 11 to become 01.)
                            var newVal = '[' + totalCount + ']';
                            entity.attr('name', entity.attr('name').replace(oldVal, newVal));
                            // Here we set the count to the new total.
                            entity.attr('dataCount', totalCount);
                            // And tell it we are no longer on our first element
                            first = false;
                        }
                        );
                        if (totalCount > 0) {
                            totalCount++;
                        }

                        $('#endLBCount').val(totalCount);
                    }
                }
            }

            function landMarkBearingAdd() {
                // This is the landmark selected from above
                var selectedLandmark = $('#landMarkSelector option:selected');
                // Here's our Unique Identifier
                var uid = $(this).attr('data-uid');
                // Here's our count
                var count = parseInt($('#endLBCount').val());
                // Validating all of these things before proceeding
                if (selectedLandmark.length > 0 && uid.length > 0 && !isNaN(count)) {

                    // Getting the name and ID of our landmark
                    var landMarkName = selectedLandmark.text();
                    var landMarkId = selectedLandmark.val();

                    if (CheckLandmarkDuplicates(landMarkId) == true) {
                        var error = "You already have a bearing for " + landMarkName + " for this log.  You cannot log the same landmark twice.";
                        toastr.error(error, "@SharedStrings.ErrorLabel");
                        return;
                    }

                    var compassBearing = parseInt($('#landMarkBearingCompass').val());
                    if (landMarkName.length > 0 && landMarkId.length > 0 && !isNaN(compassBearing)) {
                        // creating our new list ID, generating our new list item
                        var liId = uid + 'li-' + count;
                        var newLi = '<li class="fieldlabel" id="' + liId + '"><div class="listuff"><input type="hidden" class="landMarkID deleteReorder' + uid + '" dataCount=' + count + ' name="LandMarkBearings[' + count + '].LandMark.ID" value=' + landMarkId + ' /><input type="hidden" class="deleteReorder' + uid + '" dataCount=' + count + '  name="LandMarkBearings[' + count + '].Bearing.CompassReading" value=' + compassBearing + ' /><span>' + landMarkName + ' - <i>' + compassBearing + ' &deg</i></span> <a class="deleter" data-ui="' + uid + '" data-target="' + liId + '" href="#"><span class="ui-icon ui-icon-trash"></span> </a></div></li>';
                        // Selecting our list.
                        var ulSelector = '#' + uid + 'ul';
                        var ul = $(ulSelector);
                        if (ul.length > 0) {
                            // Appending our new list item to the list.
                            ul.append(newLi);
                            $('#landMarkBearingCompass').val('');
                        } else {
                            toastr.error("Can't find the list.", "@SharedStrings.ErrorLabel");
                            return;
                        }
                        //Incrementing count
                        count++;
                        $('#endLBCount').val(count);

                    } else {
                        toastr.error("Make sure you have a landmark selected and a bearing set.", "@SharedStrings.ErrorLabel");
                    }
                } else {
                    toastr.error("Verify you have a landmark selected.", "@SharedStrings.ErrorLabel");
                }
            }

            function CheckLandmarkDuplicates(id) {
                var selector = '.landMarkID[value="' + id + '"]';
                var match = $(selector);
                if (match.length > 0) {
                    return true;
                }
                return false;

            }
        </script>