﻿@using SailingSite.App_GlobalResources
@using SailingSite.Common
@using SailingSiteModels.New
@model SailingSite.Models.AdminModel
@{
    var banner = this.ViewData[StaticTokens.Admin.AdminBanner].ToString();
    var admin = false;
    CrewSecurity ActiveUser = null;
    if (Session[Resources.SessionVariables.UserSessionVariable] != null)
    {
        var debug = Session[StaticTokens.CachingTokens.UserSessionResources];
        ActiveUser = Session[StaticTokens.CachingTokens.UserSessionResources] as CrewSecurity;
        if (ActiveUser != null && ActiveUser.SID == Crew.SIDEnum.Admin)
        {
            admin = true;
        }
    }
}
@if (admin)
{
    <div>
        <div class="well-lg">
            <h3>@SharedStrings.AdministratorsArea</h3>
            <h5>@SharedStrings.AdministratorsBlurb</h5>
            @if (!string.IsNullOrEmpty(banner))
            {
                <h4> @SharedStrings.AdminBannerPrefix</h4>
                <blockquote class="blockquote2">
                    @Html.Raw(banner)
                </blockquote>
            }
        </div>
        <div class="col-sm-12">
            <div id="adminTabs">
                <ul>
                    <li><a href="#t_fleet">Fleets</a></li>
                    <li><a href="#t_vessels">Vessels</a></li>
                    <li><a href="#t_crew">Crew</a></li>
                    <li><a href="#t_zoo">Animals</a></li>
                    <li><a href="#t_location">Locations</a></li>
                    <li><a href="#t_landmarks">LandMarks</a></li>
                    <li><a href="#t_banner">Banner and Cache</a></li>
                </ul>
                <div id="t_fleet">
                    <div id="fleetDiv">
                        @Html.Partial("_FleetSearch", Model.FleetList)
                    </div>
                    <a href="@Url.Action("New", "Fleet")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                </div>
                <div id="t_vessels">
                    <div id="vesselDiv">
                        @Html.Partial("_VesselSearch", Model.VesselList)
                        <a href="@Url.Action("New", "Vessel")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                    </div>
                </div>
                <div id="t_crew">
                    <div id="crewDiv">
                        @Html.Partial("_CrewSearch", Model.CrewList)
                        <a href="@Url.Action("New", "Crew")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                    </div>
                </div>
                <div id="t_zoo">
                    <div id="zooDiv">
                        @Html.Partial("_ZooSearch", Model.AnimalList)
                    </div>
                    <a href="@Url.Action("New", "Animal")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                </div>

                <div id="t_location">
                    <div id="locationDiv">
                        @Html.Partial("_LocationSearch", Model.LocationList)
                    </div>
                    <a href="@Url.Action("New", "Location")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                </div>
                <div id="t_landmarks">
                    <div id="landMarkDiv">
                        @Html.Partial("_LandmarkSearch", Model.LandMarkList)
                    </div>
                    <a href="@Url.Action("NewLandMark", "Location")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
                </div>
                <div id="t_banner">
                    @using (Html.BeginForm("SetAdminBannerMessage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "createForm" }))
                    {
                        <div class="well-sm">
                            <b>@SharedStrings.AdminSetActiveBulletinLabel</b>
                            <input type="text" name="message">
                            <input type="submit" value="@SharedStrings.SubmitButtonLabel"/>
                        </div>
                    }
                    <input type="button" class="bigRedButton" onclick="nukeCache()" value="Nuke Cache"/>
                </div>
                @*// WE NEED TO ADD Landmark CRUD
                //  <a href="@Url.Action("NewLandMark", "Location")"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>*@
            </div>
        </div>
    </div>
}
else
{
    <b>An Error has Occured.</b>
}
