﻿@model IEnumerable<SailingSiteModels.New.CompassBearing>
@if (Model != null)
{
    <ul>
        @foreach (var bearing in Model.OrderBy(i => i.Date))
        {
            <li>@bearing.CardinalDirection - @bearing.Date.TimeOfDay</li>
        }
    </ul>
}

