﻿@using SailingSiteModels.New

@{
    IEnumerable<SailingSiteModels.New.CrewFoundation> collection = null;
    CrewFoundation crewPassed = null;
    if (Session["Crew"] != null)
    {
        
        collection = (IEnumerable<SailingSiteModels.New.CrewFoundation>)Session["Crew"];
        if (ViewData["CrewDefault"] != null)
        {
            crewPassed=ViewData["CrewDefault"] as CrewFoundation;
        }
    }
    int count = 0;
}
    @{
        var dataname = "crew" + Model.ControllerName;
    }
    <select>
    @foreach (var entity in collection.OrderBy(i => i.LastName))
    {
        string c = crewPassed != null &&crewPassed.ID==entity.ID ? "selected" : string.Empty;
        
            <option data-name="@dataname" name="Crew[@count].ID" value="@entity.ID" @c> @entity.FullName()</option>

        count++;
    }</select>
@* TODO: PROPER USER SELECTION TOOL (SEE AUTOSELECT) REJECT IF USER DOES NOT EXIST. *@