﻿@using WebGrease.Css.Extensions
@model SailingSiteModels.New.Vessel
@{
    IEnumerable<SailingSiteModels.New.CrewFoundation> collection = null;
    if (Session["Crew"] != null)
    {
        collection = (IEnumerable<SailingSiteModels.New.CrewFoundation>)Session["Crew"];
    }
    if (Model != null && Model.Editors != null)
    {
        var ids = Model.Editors.Select(i => i.ID);
        collection.ForEach(i => i.IsAssociated = ids.Contains(i.ID));
    }

    int count = 0;
}
<ul>
    @{
        var dataname = "editors" + Model.ControllerName;
    }
    @foreach (var entity in collection.OrderByDescending(i => i.IsAssociated).ThenBy(i => i.LastName))
    {
        string c = Model != null && Model.Editors != null && Model.Editors.Any(i => i.ID == entity.ID) ? "checked" : string.Empty;
        <li>
            <input type="checkbox" class="checkboxSelector" data-name="@dataname" name="Editors[@count].ID" value="@entity.ID" @c />
            <i>@entity.FullName()</i>
        </li>

        count++;
    }
</ul>
