﻿@using SailingSite.Common
@model SailingSite.Models.SearchReturnModel<IEnumerable<SailingSiteModels.New.LandMarkBase>>
@{
    bool isAdmin = false;
    if (Session[StaticTokens.Security.IsAdminToken] != null)
    {
        isAdmin = (bool)Session[StaticTokens.Security.IsAdminToken];
    }

}
@if (Model != null && Model.Result != null && Model.Result.Any())
{
    <div class="headerRow">
        @if (Model.StartsWithIndex != null && Model.StartsWithIndex.Any())
        {
            var firstLetter = Model.Result.FirstOrDefault().Name.Substring(0, 1).ToUpper();
            foreach (var letter in Model.StartsWithIndex)
            {
                if (letter.ToUpper() == firstLetter)
                {
                    <b>@letter&nbsp;</b>
                }
                else
                {
                    <a href="#" onclick="searchLandMark('@letter')">@letter</a>
                    @Html.Raw("&nbsp;")
                    ;
                }
            }
            <a href="#" onclick="searchLandMarkShowAll(@String.Empty)"> Show All </a>
        }
    </div>
    <div class="headerRow">
        @foreach (var entity in Model.Result)
        {
            var guid = Guid.NewGuid().ToString();
            <span id="@guid" class="headerRow">
                <span> <a href="#" onclick="getLandMark(@entity.ID)">@entity.Name</a></span>
                @if (isAdmin)
                {
                    <span class="ui-icon ui-icon-trash" onclick="removeLandMark(@entity.ID, '@guid')"></span>
                }
            </span>
        }
    </div>
}
<script type="text/javascript">
    function removeLandMark(id, guid) {
        $.ajax({
            url: "/Location/DeleteLandMark/",
            data: { "id": id },
            dataType: "html",
            failure: "formError",
            success: function (e) {
                var tdselect = "#" + guid;
                var tr = $(tdselect);
                tr.remove();
            }
        });
    }

    function getLandMark(id) {
        $.ajax({
            url: "/Location/GetLandMark/",
            data: { "id": id },
            type: "GET",
            dataType: "html",
            failure: "formError",
            success: function (e) {
                $("#lilGeekBody").html($(e));
                $("#lilGeekTitle").html("Landmark");
                showLilGeek();
            }
        });
    }

    function searchLandMarkShowAll() {
        $.ajax({
            url: "/Location/SearchLandMarkByLetter/",
            data: JSON.stringify({letter : null}),
            type: "GET",
            dataType: "html",
            failure: "formError",
            success: function (e) {
                $("#LandMarkDiv").html($(e));
            }
        });
    }

    function searchLandMark(init) {
        $.ajax({
            url: "/Location/SearchLandMarkByLetter/",
            data: { "letter": init },
            type: "GET",
            dataType: "html",
            failure: "formError",
            success: function (e) {
                $("#LandMarkDiv").html($(e));
            }
        });
    }
</script>




