﻿@using SailingSite.App_GlobalResources
@using SailingSite.Common
@using SailingSiteModels.New
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link href="~/bundles/tableconglomerator.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="~/bundles/jquery-ui.min.css" rel="stylesheet"/>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/bundles/iconconglomerator.css" rel="stylesheet"/>
    <link href="~/bundles/jquery.dataTables-1.10.7.min.css" rel="stylesheet"/>
    <script src="~/bundles/jquery.dataTables-1.10.7.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet"/>
    @*<script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/highCharts")
    @*Added 12/14/16*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

</head>
@{
    var User = Session[StaticTokens.CachingTokens.UserSessionResources] as SailingSiteModels.New.CrewSecurity;
    var userField = User == null ? string.Empty : User.ID.ToString();
    string[] errors = null;
    if (Session["Errors"] != null)
    {
        errors = Session["Errors"] as string[];
        Session["Errors"]=null;
    }
    
        var ActiveUser = Session[StaticTokens.CachingTokens.UserSessionResources] as CrewSecurity;
}

<body>
@Html.Partial("_LayoutCode");
<div class="navbar navbar-inverse navbar-fixed-top nav-topper">
    @if (errors != null && errors.Any())
    {
        foreach (var error in errors)
        {
            <input type="hidden" class="hiddenError" value="@error"/>
        }
    }
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="..">
                <img src="~/images/schooner.png" alt="The Lesser of Two Weevils"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav">
                <li><a href=@Url.Action("About","Admin") data-toggle="tooltip" title="About Us"><img src="~/images/lantern.png" alt="Lanterns" /></a></li>
                <li><a href=@Url.Action("New", "Sail") data-toggle="tooltip" title="Log a Sail."><img src="~/images/quill.png" alt="Quill"/></a></li>
                @if (ActiveUser != null)
                {
                    <li><a href=@Url.Action("Index", "Admin") data-toggle="tooltip" title="Settings"><img src="~/images/wheel.png" alt="Quill" /></a></li>
                }
            </ul>
            @*@Html.Partial("_LoginPartial")*@
            @Html.Partial("_Login")
        </div>
    </div>
</div>
<p></p>
    <div class="container body-content" id="bodyDiv">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div class="modal fade" id="article-editor">
        <div class="modal-header">
            <h3>Ahoy!</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("login", "login", FormMethod.Post, new { enctype = "multipart/form-data", id = "loginForm" }))
            {
            <input type="hidden" id="userID" value=@userField>
                <input type="hidden" name="returnUrl" />
                <b>Username:</b><input type="text" id="loginName" name="username" /><br />
                <b>Password:</b><input type="password" id="loginPW" name="password" /><br />
                <input type="button" onclick="Login()" value="Coming Aboard" />
                <input type="button" data-dismiss="modal" value="Cancel" />
                <div id="forgotPasswordDiv"><a href="#" id="forgotPasswordButton">Forgot password</a></div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="modal-sail modal fade modal-sm" id="lilGeek">
        <div class="modal-header">
            <h3 id="lilGeekTitle"></h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div id="lilGeekBody"></div>
    </div>
</body>
</html>
<script type="text/javascript">
    
    $(document).ready(function () {
        var reloadOnExit = false;
        $('.landMarkLoader').off('click').on('click', loadLandmark);
        $('.locationLoader').off('click').on('click', loadLocation);
        $('#forgotPasswordButton').off('click').on('click',forgotPassword);
        $('.commentTable').DataTable();
        $('#returnUrl').val(window.location.href);
        ProcessErrors();
        $('.toggler').off('click').on('click', function() {
            var targ = $(this).attr('data-target');
            if (targ&&targ.length > 0) {
                var selector = '#' + targ;
                // first hide your target...
                $(selector).toggle("Slow");
                var div = $(this).closest('div');
                if (div.length > 0) {
                    // then hide yourself...
                    div.toggle();
                }
            }
        });
    });

    function loadLilGeek(body, title, className) {
        var lilGeek = $('#lilGeek');
        var lilGeekTitle = $('#lilGeekTitle');
        var lilGeekBody = $('#lilGeekBody');
        lilGeekBody.html(body);
        lilGeekTitle.html(title);
        updatePClass(lilGeek, className);
        showLilGeek();
    }

    function loadLocation()
    {
        var id = $(this).attr('data-id');
        $.ajax({
            url: "/location/GetLocationMini/",
            dataType: "html",
            data: { "id": id },
            success: function (data) {
                loadLilGeek(data, 'View a Location', 'modal-sail modal fade modal-sm lilGeekLocation');
            },
            error: function () {
                toastr.error("Error loading location.","Avast!");
            }
        });
    }

    function loadLandmark() {
        var id = $(this).attr('data-id');
        $.ajax({
            url: "/location/GetLandMarkMini/",
            dataType: "html",
            data: { "id": id },
            success: function (data) {
                loadLilGeek(data, 'View a Landmark', 'lilGeekLocation');
            },
            error: function () {
                toastr.error("Error loading location.", "Avast!");
            }
        });
    }

    function forgotPassword() {
        var name = $('#loginName').val();
        $.ajax({
            url: "/crew/VerifyIdentity/",
            type: "POST",
            dataType: "html",
            data: { "username": name },
            success: function (data) {
                $('#bodyDiv').html(data);
                $('#article-editor').modal('hide');
            },
            error: function () {
                toastr.error("The username was not found.");
            }
        });
    }
    

    function ProcessErrors() {
        var errors = $('.hiddenError');
        if (errors.length>0) {
            errors.forEach(displayErrors);
        }
    }

    function displayErrors(element) {
        var display = element.val();
        if (display.length>0) {
            generalFailure(display);
        }
    }

    function showLilGeek() {
        $('#lilGeek').modal('show');
    }

    function checkLogin() {
        login = $('#userID').val();
        if (login.length == 0 || login=="") {
            toastr.error("You need to be logged in to do that.");
        }
    }

    function generalFailure(error) {
        toastr.error(error, "@SharedStrings.ErrorLabel");
    }

    function generalSuccess(notification) {
        toastr.success(notification, "All is Well!");
    }

    function Login() {

        var userName = $('#loginName').val();
        var passWord = $('#loginPW').val();
        if (userName && passWord) {
            $.ajax({
                url: "/login/login/",
                type: "POST",
                dataType: "html",
                data: { "username": userName, "password": passWord },
                success: function (data) {
                    var arr = JSON.parse(data);
                    var name = arr.Name;
                    var id = arr.ID;
                    $('#userID').val(id);
                    $('#loginLink').hide();
                    $('#nameSpan').show();
                    $('#article-editor').modal('toggle');
                    $('#greeter').html('Hello, ' + name);
                    var hiddens = $('[name=CreatedbyID]');
                    if (hiddens) {
                        hiddens.val(id);
                    }
                    if (reloadOnExit == true) {
                        
                    }
                    else {
                        location.reload();
                    }
                },
                error: function () {
                    $('#loginLink').show();
                    $('#nameSpan').hide();
                    toastr.error("The username/password was incorrect.");
                }
            });
        }
    }
    function Logout() {
        
        $.ajax({
            url: "/login/logout/",
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#loginLink').show();
                $('#greeter').html('');
                $('#nameSpan').hide();
            },
            error: function (data) {
                toastr.error(data);
            }
        });
        
    }

    function calculateSeaStateDesc(value, affectedSpan) {
        var v = parseInt(value);
        if (v!=NaN) {
            $.ajax({
                url: "/sail/GetSeaStateDescriptor/",
                dataType: "html",
                type:"GET",
                data: { "seastate": v },
                success: function (e) {
                    $(affectedSpan).text(e);
                }
            });
            $.ajax({
                url: "/sail/GetTenRankClassName/",
                dataType: "html",
                type: "GET",
                data: { "input": v },
                error: function(jcxhquery, exception) {
                    toastr.error(exception, "Avast!");
                },
                success: function(e) {
                    $(affectedSpan).removeClass();
                    $(affectedSpan).addClass(e);
                    }
                });
        }
    }

    function calculateTemp(val, container) {
        $.ajax({
            url: "/sail/CalculateFarenheit/",
            dataType: "html",
            type: "GET",
            data: { "input": val },
            error: function (jcxhquery, exception) {
                toastr.error(exception, "Avast!");
            },
            success: function (e) {
                $(container).removeClass();
                $(container).addClass(e);
            }
        });
    }

    function calculateWind(value, affectedp, affectedSpan) {
        var w = parseFloat(value);
        if (w) {
            $.ajax({
                url: "/sail/GetWindColorClass/",
                type: "GET",
                dataType: "html",
                data: { "wind": w },
                success: function (e) {
                    updatePClass(affectedp, e);
                }
            });

            $.ajax({
                url: "/sail/GetBeaufortScaleIntResult/",
                type: "GET",
                dataType: "html",
                data: { "wind": w },
                error: function(jqxHr, exception) {
                    toastr.error(exception, "Avast!");
                },
                success: function (e) {
                    updateDescriptor(affectedSpan, "Force "+e);
                }
            });
        }
    }

    function deriveBearing(value, object) {
        var val = value;
        var parseBearing = parseFloat(value);
        var selector = "#" + object[0].id + "_namefield";
        var nameField = $(selector);
        if (nameField) {
            nameField.html('');
        }
        if (isNaN(parseBearing)) {
            $.ajax({
                url: "/sail/DeriveCompassBearing/",
                data: { "input": value },
                type: "Get",
                dataType: "html",
                failure: "formError",
                success: function (e) {

                    val = e;
                    object.val(val);
                    if (nameField) {
                        var name=deriveBearingName(e, selector);
                        nameField.html(name);
                    }
                    object.valid();
                }
            });
        }
        

    }

    function deriveBearingName(value, selector) {
        var obj = $(selector);
        if (obj)
        {
            $.ajax({
                url: "/sail/GetBearingName/",
                data: { "input": value },
                type: "Get",
                dataType: "html",
                failure: "formError",
                success: function (e) {

                    obj.html(e);
                }
            });
        }
    }

    function updatePClass(p, className) {
        p.removeClass();
        p.addClass(className);
    }

    function updateDescriptor(spanner, value) {
        spanner.text("");
        spanner.text(value);
    }


</script>