﻿@model SailingSiteModels.Common.ICrewable
@using System.Collections
@using SailingSite.App_GlobalResources
@{
    IEnumerable<SailingSiteModels.New.CrewFoundation> crew = null;
    
    if (Session["Crew"]!=null)
    {
        crew = (IEnumerable<SailingSiteModels.New.CrewFoundation>)Session["Crew"];

    }
}
    <h3>@SharedStrings.CrewLabel</h3>
    <div>
      
            @{
                int crewCount = 0;
            }
            @foreach (var member in crew.OrderBy(i => i.LastName))
            {
                var crewChecked = string.Empty;
                if (Model != null && Model.Crew != null)
                {
                    var matchedCrew = Model.Crew.FirstOrDefault(i => i.ID == member.ID);
                    if (matchedCrew != null)
                    {
                        crewChecked = "checked=\"checked\"";
                    }
                }
                <input type="checkbox" name="Crew[@crewCount].ID" value="@member.ID" @crewChecked />
                <label>@member.FullName(true)</label>
                if (crewCount + 1 % 4 == 0)
                {
                    <br />

                }
                crewCount++;
            }
        
    </div>
    }
   
