﻿@model SailingSiteModels.Common.ILocationContainerModel
@{
    IEnumerable<SailingSiteModels.New.LocationBase> collection = null;
    if (Session["Location"] != null)
    {
        collection = (IEnumerable<SailingSiteModels.New.LocationBase>)Session["Location"];
    }
    int count = 0;
}
<ul>
    @if (collection != null)
    {
        foreach (var entity in collection.OrderBy(i => i.Name).ThenBy(i=>i.MinorLocation))
        {
            string c = Model != null && Model.Locations != null && Model.Locations.Any(i => i.ID == entity.ID) ? "checked" : string.Empty;
            <li>
                <input type="checkbox" name="Location[@count].ID" value="@entity.ID" @c />
                <i>@entity.Name,@entity.MinorLocation</i>
            </li>

            count++;
        }
    }
</ul>


