﻿@model SailingSiteModels.New.LocationBase

<div class="col-lg-12">
    @Html.Partial("_AdminControlsMini")
    <h3>@Model.Name</h3>
    <h5>@Model.MinorLocation,@Model.MajorLocation</h5>
    <h5>@Model.GPSCoordinates</h5>
</div>
