﻿@using SailingSite.Common

@{
    var user = Session[StaticTokens.CachingTokens.UserSessionResources] as SailingSiteModels.New.CrewSecurity;
    string error = null;
    if (Session[Resources.SessionVariables.Error] != null)
    {
        error = (string)Session[Resources.SessionVariables.Error];
    }
}
@if (user!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + user.Name + "!", "Manage", "Crew", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (error != null)
        { 
            <li class="error">@error</li>
        }
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
