﻿@using SailingSite.App_GlobalResources
@model SailingSiteModels.Common.IMetadata
@{
    var uid = Guid.NewGuid();
    var toggleId = string.Format("toggler{0}",uid);
    var metaDataId = string.Format("metaData{0}", uid);
    
           }
<div id="@toggleId"><a class="toggler" data-target="@metaDataId">View Metadata</a></div>
<div id="@metaDataId" hidden>
    <b>@SharedStrings.CommentCreatedLabel</b> @Model.Created.ToString("yy-MM-dd HH:mm:ss")<br/>
    @if (Model.CreatedBy != null)
    {
        <b>@SharedStrings.CommentCreatedbyLabel</b>
        @Html.ActionLink(Model.CreatedBy.FullName(), "Get", "Crew", new { id = Model.CreatedBy.ID }, null)<br/>
    }
    <a class="toggler" data-target="@toggleId">Hide Metadata</a>
</div>