﻿
@using SailingSite.App_GlobalResources
@using SailingSiteModels.New
@model SailingSiteModels.New.Photo
@{
    string entityId = null;
    string controller = null;
    if (ViewData["controller"] != null)
    {
        controller = ViewData["controller"].ToString();
    }
    if (ViewData["entityID"] != null)
    {
        entityId = ViewData["entityID"].ToString();
    }
    if (Model.Vessels == null)
    {
        Model.Vessels = new List<VesselFoundation>();
    }
    var options = new AjaxOptions
   {
       HttpMethod = "post",
       InsertionMode = InsertionMode.ReplaceWith,
       UpdateTargetId = "photodiv",
       OnFailure = "generalFailure(error)",
       OnSuccess = "photoSuccess"
   };
    string title = string.Empty;
    if (ViewData[Resources.SessionVariables.CommentTitleTemp] != null)
    {
        title = ViewData[Resources.SessionVariables.CommentTitleTemp].ToString();
    }
    SailingSiteModels.New.Comment comment = null;
    if (Session[Resources.SessionVariables.TemporaryComment] != null)
    {
        comment = Session[Resources.SessionVariables.TemporaryComment] as SailingSiteModels.New.Comment;
        if (comment != null)
        {
            title = comment.Title;
        }
    }

}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 topLoader">
                <b>@SharedStrings.PhotoPathLabel</b>
                <input type="file" name="file" accept="image/*"/>
                @Html.HiddenFor(i => i.ID)
                @Html.HiddenFor(i => i.Path)
                <input type="hidden" name="entityId" value="@entityId"/>
            </div>
        </div>
    </div>
