﻿@using SailingSite.App_GlobalResources
@using SailingSite.Common.Extension
@model SailingSiteModels.New.SailBase

<div class="well-sm">
    <div class="feedDate">@Model.Created</div>
    <b> @Html.ActionLink(Model.CreatedBy.FullName(), "Get", "Crew", null, new { id = Model.CreatedBy.ID }) @SharedStrings.SailFeedHeaderSuffix @Html.ActionLink(@Model.Vessel.Name, "Get", "Vessel", null, new { id = Model.Vessel.ID }) @Model.Created.ToFeedString()</b>
</div>
<div class="col-md-12">
    
</div>
