﻿
@using Microsoft.Ajax.Utilities
@model SailingSiteModels.Common.IVesselable
@{
    IEnumerable<SailingSiteModels.New.VesselFoundation> collection = null;
    if (Session["Vessel"] != null)
    {
        collection = (IEnumerable<SailingSiteModels.New.VesselFoundation>)Session["Vessel"];
    }
    int count = 0;
    if (Model != null && Model.Vessels != null)
    {
        var ids = Model.Vessels.Select(i => i.ID);
        collection.ForEach(i => i.IsAssociated = ids.Contains(i.ID));
    }
}
<ul>
    @if (collection != null)
    {
        var dataname = "vessels" + Model.ControllerName;
        foreach (var entity in collection.OrderByDescending(i=>i.IsAssociated))
         {
             string c = Model != null && Model.Vessels != null && Model.Vessels.Any(i => i.ID == entity.ID) ? "checked" : string.Empty;
             <li>
                 <input type="checkbox" class="checkboxSelector" data-name="@dataname" name="Vessels[@count].ID" value="@entity.ID" @c />
                 <i>@entity.Name</i>
             </li>

             count++;
         }
    }
</ul>
