﻿@using SailingSite.Common
@model SailingSite.Models.SearchReturnModel<IEnumerable<SailingSiteModels.New.VesselBase>>
@{
    bool isAdmin = false;
    if (Session[StaticTokens.Security.IsAdminToken] != null)
    {
        isAdmin = (bool)Session[StaticTokens.Security.IsAdminToken];
    }

}
@if (Model != null && Model.Result != null && Model.Result.Any())
{
    <div class="headerRow">
        @if (Model.StartsWithIndex != null && Model.StartsWithIndex.Any())
        {
            var firstLetter = Model.Result.FirstOrDefault().Name.Substring(0, 1).ToUpper();
            foreach (var letter in Model.StartsWithIndex)
            {
                if (letter.ToUpper() == firstLetter)
                {
                    <b>@letter&nbsp;</b>
                }
                else
                {
                    <a href="#" onclick="searchVessel('@letter')">@letter</a>
                    @Html.Raw("&nbsp;")
                    ;
                }
            }
            <a href="#" onclick="searchVesselShowAll(@String.Empty)"> Show All </a>
        }
    </div>
    foreach (var entity in Model.Result)
    {
        <span class="lispan">

            <span>@Html.ActionLink(entity.Name, "Get", "Vessel", new { id = entity.ID }, null)</span>
            @if (isAdmin)
            {
                <span class="ui-icon ui-icon-trash" onclick="removeVessel(@entity.ID)"></span>
            }
        </span>

    }
}
    <script type="text/javascript">
        function removeVessel(id) {
            $.ajax({
                url: "/Vessel/Delete/",
                data: { "id": id },
                dataType: "html",
                failure: "formError",
                success: function(e) {
                    var tdselect = "#" + guid;
                    var tr = $(tdselect);
                    tr.remove();
                }
            });
        }

        function searchVesselShowAll() {
            $.ajax({
                url: "/Vessel/SearchByLetter/",
                data: JSON.stringify({ letter: null }),
                type: "GET",
                dataType: "html",
                failure: "formError",
                success: function(e) {
                    $("#vesselDiv").html($(e));
                }
            });
        }

        function searchVessel(init) {
            $.ajax({
                url: "/Vessel/SearchByLetter/",
                data: { "letter": init },
                type: "GET",
                dataType: "html",
                failure: "formError",
                success: function(e) {
                    $("#vesselDiv").html($(e));
                }
            });
        }
    </script>


