﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">All Hands Were Lost.</h1>
<h2 class="text-danger">The good news is that it's been logged, so we should be looking into it shortly. In theory.</h2>
<b>If you'd like, show this to the admins:</b><br/>
@if (Model != null)
{
    <b>The Handler passed is not null</b>
    <br/>
    if (Model.Exception != null)
    {
        @Model.Exception.ToString()
    }
    else
    {
        <b> The Exceptions is null!</b>
    }
    <b>Action:</b>
    @Model.ActionName<br/>
    <b>Controller</b>
    @Model.ControllerName<br/>
}
else
{
    <b>Nothing was passed to the controller.</b>
}
)