﻿@using SailingSite.App_GlobalResources
@model SailingSite.ViewModels.RedirectModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <b>@SharedStrings.NoPermissionsError
            @if (Model != null && Model.Description != null)
            {<i>@Model.Description</i>}</b>
    </div>
</body>
</html>
