﻿
@using SailingSite.App_GlobalResources
@model SailingSiteModels.Common.ITaggableModel
@{
    int mid = 0;

    string[] Tags = null;
    if (Session["Tags"] != null)
    {
        Tags = (string[])Session["Tags"];
    }

}

@if (Model != null && Model.Tags != null&&Model.Tags.Any())
{
    <b>@SharedStrings.TagsCurrentLabel</b><br />
    foreach (var tag in Model.Tags)
    {
         <div style="float: left"> <a href="\Tag\GetAllTagResults\@tag.ID">@tag.Name</a>
             <span class="ui-icon ui-icon-trash" id="tag_@tag.ID" onclick="removeTag(@tag.ID)" onmouseover="hover(tag_@tag.ID)" onmouseout="dehover(tag_@tag.ID)"></span></div>
     }
}
<br/>
<input type="hidden" id="controllerName" value="@Model.ControllerName"/>
<input type="hidden" id="entityId" value="@Model.ID"/>
<div hidden="hidden"> <label id="tagList">@Html.Raw(Json.Encode(string.Join(" ",Tags)))</label>
</div>

<b>@SharedStrings.TagAddLabel</b><br/>
<input class="tags" name="tagList" size="100">
@if (Model.ID > 0)
{
    <input type="button" value="@SharedStrings.TagsUpdateButton" onclick="addTag(@Model.ID)" />
}
<br/>

<script>
    function hover(id) {
        var name = $(id);
        $(id).css("background-color", "#ddd");
    }

    function dehover(id) {
        var name = $(id);
        $(id).css("background-color", "transparent");
    }

    function removeTag(id) {
        var p = $('#controllerName').val();
        var entId = $('#entityId').val();
        $.ajax({
            url: "/"+p+"/deletetag/",
            data: { "id": id, "entityId": entId},
            type: "POST",
            dataType: "html",
            failure: "formError",
            success: function (e) {

                $("#tagdiv").html($(e));
            }
        });

    }

    function addTag(id) {
        var p = $('#controllerName').val();
        $.ajax({
            url: "/"+p+".ControllerName/addtags/",
            data: { "id": id, "tags": $("#tags").val()},
            type: "POST",
            dataType: "html",
            failure: "formError",
            success: function (e) {

                $("#tagdiv").html($(e));
            }
        });

    }

    $(function () {
        var availableTags = @Html.Raw(Json.Encode(Tags))
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }

        $( ".tags" )
          // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function( event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).autocomplete( "instance" ).menu.active ) {
                  event.preventDefault();
              }
          })
          .autocomplete({
              minLength: 0,
              source: function( request, response ) {
                  // delegate back to autocomplete, but extract the last term
                  response( $.ui.autocomplete.filter(
                    availableTags, extractLast( request.term ) ) );
              },
              focus: function() {
                  // prevent value inserted on focus
                  return false;
              },
              select: function( event, ui ) {
                  var terms = split( this.value );
                  // remove the current input
                  terms.pop();
                  // add the selected item
                  terms.push( ui.item.value );
                  // add placeholder to get the comma-and-space at the end
                  terms.push( "" );
                  this.value = terms.join( ", " );
                  return false;
              }
          });
    });


</script>
