﻿
@model TagViewModel
@{
    var controller = ViewData["controller"];
    var entityId = ViewData["entityID"];

    string[] Tags = new string[] {""};
    if (Session["Tags"] != null)
    {
        Tags = (string[])Session["Tags"];
    }
}
<div hidden="hidden"> <label id="tagList">@Html.Raw(Json.Encode(Tags))</label></div>
@if (Model.Tags!=null&&Model.Tags.Any())
{ 
     foreach (var tag in Model.Tags) {
        <div style="float:left"> <a href="\Tag\GetAllTagResults\@tag.ID">@tag.Name</a>
    <span class="ui-icon ui-icon-trash" id="tag_@tag.ID" onclick="removeTag(@tag.ID)" onmouseover="hover(tag_@tag.ID)" onmouseout="dehover(tag_@tag.ID)"></span></div>
}
}


    @{
        var value = "";
        if (Model.Tags!=null&&Model.Tags.Any())
        { 
         value = string.Join(",", (from i in Model.Tags select i.Name).ToArray());
        }
        }
    <label for="tags">Add Tag </label>
    <input id="tags" size="100"><input type="button" value="Update" onclick="addTag(@entityId)" />


<script>
    function hover(id) {
        var name = $(id);
        $(id).css("background-color", "#ddd");
    }

    function dehover(id) {
        var name = $(id);
        $(id).css("background-color", "transparent");
    }

    function removeTag(id) {
        var entId= 1
        $.ajax({
            url: "/crew/deletetag/",
            data: { "id": id, "entityId": entId},
            type: "POST",
            dataType: "html",
            failure: "formError",
            success: function (e) {

                $("#tagdiv").html($(e));
            }
        });

    }

    function addTag(id) {

        $.ajax({
            url: "/crew/addtags/",
            data: { "id": id, "tags": $("#tags").val()},
            type: "POST",
            dataType: "html",
            failure: "formError",
            success: function (e) {

                $("#tagdiv").html($(e));
            }
        });

    }

    $(function () {
        var availableTags = "";
        var tagDiv=$("#tagList").val();
        if (tagDiv)
            {
            var availableTags = tagDiv;
            }
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }
 
        $( "#tags" )
          // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function( event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).autocomplete( "instance" ).menu.active ) {
                  event.preventDefault();
              }
          })
          .autocomplete({
              minLength: 0,
              source: function( request, response ) {
                  // delegate back to autocomplete, but extract the last term
                  response( $.ui.autocomplete.filter(
                    availableTags, extractLast( request.term ) ) );
              },
              focus: function() {
                  // prevent value inserted on focus
                  return false;
              },
              select: function( event, ui ) {
                  var terms = split( this.value );
                  // remove the current input
                  terms.pop();
                  // add the selected item
                  terms.push( ui.item.value );
                  // add placeholder to get the comma-and-space at the end
                  terms.push( "" );
                  this.value = terms.join( ", " );
                  return false;
              }
          });
    });


</script>
