﻿@using SailingSite.Common
@using SailingSiteModels.Common
@model IPhotographedEntity
@*Wrap this in a postPhoto div*@
@{
    var name = string.Format("{0}_{1}", Model.ControllerName, Model.ID);
}

<h2><i class="fa fa-camera fa-2"></i> Upload a Photo</h2>
<input type="file" name="file" id="newFilePath" accept="image/*"/><br/>
<b>Name:</b><input type="text" name="photoName" value="@name"/><br/>
<b>Description:</b><input type="text" name="photoDescription"/>
<input type="hidden" name="entityId" value="@Model.ID"/><br/>
<input type="button" id="photoUploader" value="Upload!"/>
@if (Model.Photos != null && Model.Photos.Any())
{
    <h3 id="photoNew"><i class="fa fa-picture-o fa-2"></i> Existing Photos</h3>
    <div class="col-sm-12">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-sm-6 thumbDiv" data-id="@photo.ID">
                <img class="thumbPhoto" src="@photo.ThumbPath.ReturnURLString()"/><br/>
                <a class="photoEnlarge" href="#photoNew"><i class="fa fa fa-search fa-1"></i></a><a href="#photoNew" class="photoPurge"><i class="fa fa-trash-o fa-1"></i></a>
            </div>
        }
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#photoUploader').off('click').on('click', submitPhoto);
        $('.photoEnlarge').off('click').on('click', enlargePhoto);
        $('.photoPurge').off('click').on('click', deletePhoto);
    });
    function deletePhoto() {
        var parent = $(this).closest('div.thumbDiv');
        var id = parent.attr('data-id');
       
        $.ajax({
            url: '/Photo/PurgePhoto',
            data: {"id":id},
            error: function () {
                toastr.error('Error uploading file.');
            },
            success: function (data) {
                toastr.success('Photo deleted.');
                parent.remove();
            }

        });
    }

    function enlargePhoto() {
        var parent = $(this).closest('div.thumbDiv');
        var id = parent.attr('data-id');
        $.ajax({
            url: '/Photo/GetBase',
            data: { "id": id },
            error: function () {
                toastr.error('Error uploading file.');
            },
            success: function (data) {
                toastr.success('Photo uploaded.');
                // if overWrite, replace the contents of the div.  Otherwise append it.
                $('#lilGeekTitle').html('View a photo');
                $('#lilGeekBody').html(data);
                $('#lilGeek').modal('show');
            }

        });
    }

    function submitPhoto() {
        var form = $('#createForm');
        var formData = new FormData(form[0]);
        var urlPointer = '/@Model.ControllerName/PostPhoto';
            $.ajax({
                url: urlPointer,
                data: formData,
                type: "POST",
                processData: false,
                contentType: false,
                error: function () {
                    toastr.error('Error uploading file.');
                },
                success: function (data) {
                    toastr.success('Photo uploaded.');
                    // if overWrite, replace the contents of the div.  Otherwise append it.
                    $('#postPhoto').html(data);
                }

            });
        
    }
</script>